/* 
    Created on : 2017/06/30, 23:54:02
    Author     : KISARAGI
*/

body{
    background: #e7e7e7;
}

div{
    background: #ffffff;
    width: 300px;
    padding: 10px;
    text-align: center;
    border: 1px solid #cccccc;
    margin: 30px auto;
}