/* 
    Created on : 2017/06/30, 23:54:02
    Author     : KISARAGI
*/

body{
    background: #e7e7e7;
}

.head{
    background: #ffffff;
    width: 300px;
    padding: 10px;
    text-align: center;
    border: 1px solid #cccccc;
    margin: 30px auto;
}

.index{
    background: #ffcccc;
    color: #666666;
    float: left;
    padding: 5px;
    margin-left: 10px;
}

.content{
    background: #eeffee;
    float: left;
    padding: 10px;
    margin-left: 10px;
}